.navbar-default {
    background-color: #673ab7;
    border-color: #673ab7;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: yellow;
}
.navbar-default .navbar-brand:visited {
    color: yellow;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: yellow;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
/* general styles */
html, body {
height: 100%;
width: 100%;
}
h1, h2, h3, h4{
color:#ffffff;
}
h5, h6 {
    color:yellow;
}
/* padded section */
.pad-section {
padding: 50px 0;
}
.pad-section img {
width: 100%;
}
/* vertical-centered text */
.text-vcenter {
display: table-cell;
text-align: center;
vertical-align: middle;
}
.text-vcenter h1 {
font-size: 4.5em;
font-weight: 700;
margin: 0;
padding: 0;
}
/* additional sections */
#about {
background-color: rebeccapurple;
display: table;
height: 100%;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#projects {
 background-color: deeppink;
display: table;
height: 800px;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#repos .panel {
opacity: 0.85;
}
footer {
padding: 20px 0;
}
footer .glyphicon {
color: #333333;
font-size: 60px;
}
footer .glyphicon:hover {
color: #306d9f;
}
.profile-pic {
    width:200px;
    height:200px;    
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
}
.button-group iframe{
    vertical-align: middle;
}